.button {
    background-color: #463bbb; 
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
    box-shadow: 10px 10px #000054;
  }

.button:hover {
    background-color: #36a5ff;
}

.button_disabled {
    background-color: rgb(171, 199, 255);
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
    box-shadow: 10px 10px #000054;
    
  }

.image_ian {
    border: 4mm  solid  #aad0ff;
    float: left;
    width: 20vw;
    margin-right: 45px;
    box-shadow: 10px 10px #000054;
    border-radius: 50%;
}

.image_pc {
    border: 4mm  solid  #aad0ff;
    float: left;
    width: 32vw;
    margin-right: 45px;
    box-shadow: 10px 10px #000054;
    border-radius: 50%;
}

.image_icon {
    width: 6vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size: 100px;
    
}

h2{
    font-size: 60px;
    text-decoration-line: underline;
}

.timeline_bold{
    font-weight: bolder;
    text-shadow: 2px 2px #b2d2ff;
    font-size:20px;
    margin-bottom: none;
    padding:0px 0px;
}

.interest_bold{
    font-weight: bolder;
    text-shadow: 2px 2px #b2d2ff;
    font-size:20px;
    margin-bottom: none;
    padding:0px 0px;
    text-align: center;
}

div{
    clear: both;
    box-shadow: 10px 10px #000054;
    background-color: #36a5ff;
}

.toolbar{
    margin-top: 0vw;
    margin-bottom: 0vw;
    margin-right: 0vw;
    margin-left: 0vw; 
}

p{
    margin-left: 1vw;
}

body {
    background-color: #4c9cde;
  }

.timeline_element{
    width: 40vw;
    min-height: 50px;
    background-color: #7ea7dc;
    box-shadow: 10px 10px #11115b;
    border-radius: 10%;
}

.timeline_dot {
    height: 25px;
    width: 25px;
    background-color:#0000ff;
    border-radius: 50%;
    display: inline-block;
    display:block;
    float: right;
  }

.interest_grid {
    display: grid;
    grid-template-columns: 100%;
    width: 40vw;
    margin-top: 0vw;
    margin-bottom: 0vw;
    margin-right: 0vw;
    margin-left: 10vw;
    display: inline-block; 
  }

  .pdf{
    float: left;
    clear: both;
  }

  .fortheme2only{
    float: left;
    clear: both;
  }

  .fortheme2only2{
    margin-left: 45vw;
  }