.button {
    background-color: #B57EDC; 
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
  }

.button:hover {
    background-color: #E6E6FA;
}

.button_disabled {
    background-color: #d3d3ff; 
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
  }

.image_ian {
    border: 4mm  solid  #B57EDC;
    float: right;
    width: 20vw;
    margin-right: 45px;
}

.image_pc {
    border: 4mm  solid  #B57EDC;
    float: left;
    width: 32vw;
    margin-right: 45px;
}

.image_icon {
    width: 6vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size: 100px;
}

h2{
    font-size: 60px
}

.timeline_bold{
    font-weight: bolder;
    text-shadow: 2px 2px #a062cc;
    font-size:20px;
    margin-bottom: none;
    padding:0px 0px;
}

.interest_bold{
    font-weight: bolder;
    text-shadow: 2px 2px #a062cc;
    font-size:20px;
    margin-bottom: none;
    padding:0px 0px;
    text-align: center;
}

div{
    clear: both;
    margin-top: 0%;
    margin-bottom: 5vw;
    margin-right: 5vw;
    margin-left: 5vw; 
}

.toolbar{
    margin-top: 0vw;
    margin-bottom: 0vw;
    margin-right: 0vw;
    margin-left: 0vw; 
}

p{
    margin-left: 1vw;
}

body {
    background-color: #d0bfdd;
    border:10vw solid #E6E6FA;
  }

.timeline_element{
    width: 40vw;
    min-height: 50px;
    background-color: #B57EDC;
    box-shadow: 10px 10px #d2d2ff;
}

.timeline_dot {
    height: 25px;
    width: 25px;
    background-color:#0000ff;
    border-radius: 50%;
    display: inline-block;
    display:block;
    float: right;
  }

.interest_grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    
  }

  .pdf{
    text-align: center;
    margin-left:18vw;
  }